.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0d3c9b;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-body {
  background-color: #0d3c9b;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.first {
  background: url(https://d11.s3.amazonaws.com/d11-static-pages/images/ipl_card_bg.png) #22317f;
    margin: 0 20px;
    padding-top: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);
    overflow: hidden;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
}
.firstButton {
  font-size: 14px;
  color: rgb(57, 71, 199);
  text-decoration: none;
  padding: 8px 11px;
  border: solid 1px #fff;
  border-radius: 4px;
  display: inline-block;
  line-height: 14px;
  font-family: Roboto, sans-serif
}
.secondButton {
  font-size: 14px;
    color: rgb(57, 71, 199);
    text-decoration: none;
    padding: 8px 11px;
    border: solid 1px #fff;
    border-radius: 4px;
    display: inline-block;
    line-height: 14px;
    font-family: Roboto, sans-serif;
}
.second {
  width: 200px;
  margin: 10px;
  float: right;
  height: 300px;
  background-color: green;
}
.footer{
  position: absolute;
    bottom: 20px;
    width: 100%;
}
.buttonHeader{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: inline-block;
}
.main-footer{
  background-color: azure;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  widows: 100%;
}
.backTo{
  font-size: 14px;
    font-weight: 500;
    color: rgb(57, 71, 199);
    text-decoration: none;
    position: relative;
    padding-left: 25px;
}
.fantasy_league
{
  
  display: inline-block;
  width: 700px;
  padding: 20px 0px 0px;
  background-color: #0d3c9b;
  font-size: 14px;
}


.league_select
{
  padding: 20px 0px 0px;
  background-color: #385a9c;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
